@media screen and (width < 1365px) {
  body {
    overflow-x: hidden;
  }
  header {
    position: relative;
    height: 774px;
  }
  h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 39.6px;
    letter-spacing: 1.2361623048782349px;
    text-align: left;
    margin: 0 0 0 54px;
  }
  .header__content {
    max-width: 375px;
    margin: auto;
    height: 773px;
  }
  .header__logo {
    position: relative;
    top: 18px;
    left: 28px;
    padding: 0;
  }
  .header__logo img {
    width: 212px;
    object-fit: fill;
  }
  .header__offer__text1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 39.6px;
    text-align: left;
  }
  .header_offer {
    margin: 56px 0px 0px 28px;
  }
  .header__offer__text2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 39.6px;
    text-align: left;
    margin: 0 0 0 63px;
  }
  .header__offer__text3 {
    font-size: 36px;
    font-weight: 400;
    line-height: 39.6px;
    text-align: left;
    margin: 0 0 0 30px;
  }
  .header__offer__text__p {
    width: 324px;
    margin: 25px 0 0 0px;
    text-align: left;
  }
  .header__button {
    align-items: normal;
    flex-direction: column;
  }
  .header__button__support {
    width: 335px;
    height: 47px;
    padding: 18px px 20px 18px 20px;
    border-radius: 66px;
    margin: 30px 19px 0 0;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .header__button__details {
    margin: 15px 18px 0 0;
    display: flex;
    justify-content: center;
    width: 335px;
    align-items: center;
    height: 47px;
    padding: 18px 20px 18px 20px;
    border-radius: 66px;
    opacity: 0.9;
    border: none;
    background: rgba(255, 255, 255, 1);
  }
  .header__poster__ellips {
    display: none;
  }
  .header__poster__text {
    display: none;
  }
  .header__poster__img_citi {
    display: none;
  }
  .header__poster__img_path {
    display: none;
  }
  .header__poster__img_horse {
    display: none;
  }
  .header__poster__img_pawn {
    display: none;
  }
  .header__poster__img_karol {
    display: none;
  }
  .header__poster__img_queen {
    display: none;
  }
  .header__poster__mobail {
    display: block;
    position: relative;
    top: 0px;
    left: -374px;
  }
  .running_line {
    font-size: 16px;
    line-height: 17.6px;
    padding: 10px 12px 10px 12px;
  }
  .running_line__collection_of_texts {
    display: flex;
    animation: stockX 20s linear infinite;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 50s;
  }
  .running_line__delimiter {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin: 0 12px;
  }
  .running_line__text {
    display: flex;
    white-space: nowrap;
    align-items: center;
  }
  @keyframes stockX {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
  .support {
    max-width: 375px;
    margin: auto;
    height: 550px;
  }
  .support__text {
    position: relative;
    font-size: 28px;
    line-height: 37.8px;
    margin: 0;
    left: 19px;
    top: -33px;
  }
  .support__text__divided {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 262px;
    left: 141px;
    margin: 0 0 0 -141px;
  }
  .support__img__container {
    display: contents;
  }
  .support__img {
    position: relative;
    top: 145px;
    right: 264px;
    width: 340px;
    height: 212px;
  }
  .about_the_game {
    max-width: 375px;
    margin: auto;
    display: block;
    overflow: hidden;
  }
  .about_the_game img {
    width: 377px;
    position: relative;
    top: 0px;
    right: 45px;
  }
  .about_the_game__text {
    font-size: 28px;
    line-height: 37.8px;
    position: relative;
    top: -13px;
    right: -19px;
  }
  .about_the_game__table_row {
    display: flex;
    flex-direction: column;
    border-bottom: 2px black solid;
    margin: 0 0 9px 0;
  }
  .about_the_game__table_row_penultimate {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 3px 0;
    margin: 13px 0px 0 13px;
  }
  .about_the_game__table_row_penultimate tb {
    margin: -5px -9px 0px -13px;
  }
  .about_the_game__table_row_penultimate .about_the_game__table_column__key {
    margin: -5px -9px 0px -13px;
  }
  .about_the_game__table_row_penultimate .about_the_game__table_column__value {
    margin: -15px -9px 0px -13px;
  }
  .about_the_game__table_column__key {
    border: none;
  }
  .about_the_game__table_column__key_end {
    border: none;
    margin: 10px 0 0 0;
  }
  .about_the_game__table_column__value_end {
    border: none;
    padding: 12px 153px 13px 13px;
  }
  .about_the_game__table_column__value {
    border: none;
    padding: 15px 0 13px 12px;
  }
  .about_the_game__table_column__value_end span {
    text-decoration: line-through;
    text-decoration-color: red;
    margin: 0 7px 0 0;
  }
  table {
    position: relative;
    top: -22px;
    left: 19px;
  }
  td {
    border: none;
  }
  .about_the_game__p {
    margin: -7px 0px 0 17px;
    font-size: 18px;
    line-height: 21.6px;
  }
  .stages__container {
    max-width: 375px;
    margin: auto;
    display: block;
    overflow: hidden;
    height: 900px;
  }
  .stages__container h3 {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    line-height: 39.6px;
    margin: 120px 0 0 19px;
  }
  .stages__container h3 span {
    width: 100%;
    margin: 13px 0px 0 0px;
    font-size: 18px;
    line-height: 21.6px;
  }
  .stages__cards {
    display: grid;
    grid-template-columns: repeat(5, 335px);
    gap: 20px;
    margin: 150px 0 0 0;
    position: relative;
    right: 0px;
  }
  .stages__card__mobail {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;
  }
  .stages__container .stages {
    background-image: url("./Pictures/image23.png");
    background-color: #e6d7c9;
    background-blend-mode: color-burn;
    padding: 20px;
    display: flex;
  }
  .stages__container div span {
    margin: 0px 16px 0 0;
  }
  .stages div p {
    font-size: 18px;
    line-height: 21.6px;
    padding: 0px 20px 0 2px;
  }
  .stages .stages__card1 {
    padding: 63px 55px 0 18px;
    width: 83%;
    font-size: 18px;
    line-height: 21.6px;
  }
  .stages .stages__card2 {
    padding: 30px 0 33px 19px;
    width: 100%;
  }
  .stages .stages__card3 {
    width: 100%;
    padding: 2px 20px 105px 0px;
    text-wrap: balance;
  }
  .stages .stages__card3 p {
    margin: 63px 0px 0 21px;
  }
  .stages .stages__card3 span {
    margin: 59px -4px 0px 21px;
  }
  .stages .stages__card4 {
    padding: 63px 0 0 21px;
    width: 100%;
  }
  .stages .stages__card5 {
    padding: 30px 0px 97px 21px;
    width: 100%;
  }
  .stages .stages__card6 {
    padding: 63px 0px 127px 20px;
    width: 100%;
  }
  .stages .stages__card7 {
    padding: 64px 0px 44px 23px;
  }
  .stages .stages__card7 p {
    width: 100%;
  }
  .stages__img__airplane {
    bottom: 437px;
    left: 28px;
    width: 339px;
    rotate: -3deg;
  }
  .stages__card7 p {
    width: 56%;
  }
  .stages__switch__mobail {
    display: flex;
      position: relative;
      bottom: 179px;
      justify-content: center;
      align-items: center;
    }
  
  .stages__switch__mobail__button_left {
    background: black;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stages__switch__mobail__button_right {
    background: black;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stages__switch__mobail__button_left:hover {
    background: rgba(251, 206, 81, 1);
    transition: 0.6s;
  }

  .stages__switch__mobail__button_right:hover {
    background: rgba(251, 206, 81, 1);
    transition: 0.6s;
  }
  .stages__switch__number{
    display: flex;
      margin: 0px 16px 0 16px;
  }
  .switch_elips{
    width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(217, 217, 217, 1);
      margin: 0 5px 0 0;
  }
  .switch_elips_click{
    width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(49, 49, 49, 1);
      margin: 0 5px 0 0;
  }
  .participants {
    max-width: 375px;
    margin: auto;
    height: 712px;
  }
  .participants__title {
    display: flex;
    justify-content: space-between;
  }
  .participants__title h3 {
    font-size: 36px;
    line-height: 39.6px;
    margin: 28px 0 0 19px;
  }
  .participants__switch {
    display: none;
  }
  .participants__switch_mobile {
    display: flex;
    position: relative;
    top: 41px;
    left: 123px;
    font-family: "Golos Text";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    align-items: center;
  }
  .participants__switch__button_left_mobile {
    display: flex;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: black;
    justify-content: center;
    align-items: center;
  }
  .participants__switch__button_left_mobile:hover {
    background: rgba(251, 206, 81, 1);
    transition: 0.6s;
  }
  .participants__switch__number_of_participants_mobile {
    margin: 0 15px;
  }
  .participants__switch__button_right_mobile {
    display: flex;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: black;
    justify-content: center;
    align-items: center;
  }
  .participants__switch__button_right_mobile:hover {
    background: rgba(251, 206, 81, 1);
    transition: 0.6s;
  }
  .disabled {
    background: rgba(214, 214, 214, 1);
  }
  .participants__all_participants {
    margin: 40px 0 0px 26px;
  }
  .participants__participant_card img {
    width: 244px;
  }
  .participants__participant_card {
    text-align: center;
    margin: 0 94px 0 0;
  }
  .participants__participant_card h3 {
    text-wrap: nowrap;
    width: 320px;
  }
  .participants__participant_card h4 {
    font-family: "Golos Text";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 6px 0 0 0;
  }
  .participants__participant_card button {
    width: 113px;
    height: 35px;
    border-radius: 62px;
    border: 1px rgba(48, 87, 162, 1) solid;
    color: rgba(48, 87, 162, 1);
    background: transparent;
    margin: 20px 0 0 0;
    font-family: "Golos Text";
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
  }
  footer {
    height: 216px;
  }
  footer div {
    max-width: 375px;
    position: relative;
    width: 336px;
    top: 2px;
  }
}
